.logo {
  display: flex;
  gap: var(--mantine-spacing-sm);
  font-family: Poppins;
  font-size: var(--mantine-font-size-xmd);
  font-weight: 600;
  letter-spacing: -0.48px;
  color: var(--mantine-color-purple-4);
}

.image {
  width: 32px;
  height: 32px;
}
