.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  text-align: center;
}

.notFoundContainer {
  gap: 48px;
}

/* icons */
.notFound {
  max-width: 656px;
  max-height: 196px;
  aspect-ratio: 1;
}

.emptyState {
  max-width: 400px;
  max-height: 300px;
  aspect-ratio: 1;
}

.noSearchedMovies {
  max-width: 310px;
  max-height: 252px;
  aspect-ratio: 1;
}

.messageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  & > .message {
    font-size: var(--mantine-font-size-md);

    font-weight: 600;
    line-height: normal;
  }
}
