.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.notFoundContainer {
  gap: 48px;
}

/* icons */
.notFound {
  width: 656px;
  height: 196px;
}

.emptyState {
  width: 400px;
  height: 300px;
}

.noSearchedMovies {
  width: 310px;
  height: 252px;
}

.messageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  & > .message {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
