.root {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-s);
  width: 284px;
}

.label {
  font-size: var(--mantine-font-size-sm);
  font-weight: 700;
  line-height: 140%;
}

.input {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 8px 12px;
  border: 1px solid var(--mantine-color-grayScale-3);
  font-size: var(--mantine-font-size-xs);
  font-weight: 400;
  line-height: 20px;
  border-radius: var(--mantine-radius-xs);
  background: var(--mantine-color-grayScale-0);

  &[data-expanded='true'] {
    border: 1px solid var(--mantine-color-purple-4);
  }

  &:hover {
    border: 1px solid var(--mantine-color-purple-4);
  }
}

.options {
  overflow-y: auto;
}

.selectOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.dropdown {
  height: 224px;
  overflow-y: 'auto';
}

.pill {
  padding: 0;
  font-size: var(--mantine-font-size-xs);
  background: none;
}
