.button {
  width: fit-content;
  width: 32px;
  height: 32px;
  padding: var(--mantine-spacing-s);
  border: 1px solid var(--mantine-color-gray-4);
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  border-radius: var(--mantine-radius-s);
  color: var(--mantine-color-gray-7);
  background: var(--mantine-color-gray-0);

  &:hover {
    border: 1px solid var(--mantine-color-purple-2);
    border-radius: var(--mantine-radius-s);
    color: var(--mantine-color-gray-0);
    background: var(--mantine-color-purple-2);
  }

  &[data-active='true'] {
    border: 1px solid var(--mantine-color-purple-4);
    border-radius: var(--mantine-radius-s);
    color: var(--mantine-color-gray-0);
    background: var(--mantine-color-purple-4);
  }
}
