.form {
  width: 100%;
  max-width: 380px;
  border-radius: var(--mantine-radius-xs);
  background: var(--mantine-color-grayScale-0);
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 11px 16px 16px;
  border-bottom: 1px solid var(--mantine-color-grayScale-1);
}

.title {
  @mixin textBaseM;
  font-weight: 400;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
