.tab {
  display: flex;
  justify-content: flex-start;
  padding: var(--mantine-spacing-xs);
  border: none !important;
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  line-height: 140%;
  border-radius: var(--mantine-radius-xs);
  color: var(--mantine-color-grayScale-7);

  &:not([data-active]) {
    border-color: var(--border-color);
  }

  &:hover {
    color: var(--mantine-color-purple-4);
    background: none;
  }

  &[aria-selected='true'] {
    @mixin textBaseM;
    color: var(--mantine-color-purple-5);
    background: var(--mantine-color-purple-2);
  }
}
