.tab {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: none !important;
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  line-height: 140%;
  border-radius: 8px;
  color: var(--mantine-color-grayScale-7);

  &:not([data-active]) {
    border-color: var(--border-color);
  }

  &:hover {
    color: var(--mantine-color-purple-4);
    background: none;
  }

  &[aria-selected='true'] {
    font-size: var(--mantine-font-size-sm);
    font-weight: 700;
    line-height: 140%;
    color: var(--mantine-color-purple-5);
    background: var(--mantine-color-purple-2);
  }
}
