.button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  background-color: var(--mantine-color-purple-4);

  &:hover {
    background-color: var(--mantine-color-purple-3);
  }

  &:active {
    background-color: var(--mantine-color-purple-5);
  }
}
