.button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: var(--mantine-radius-xs);
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  line-height: 140%;
  background-color: var(--mantine-color-purple-4);

  &:hover {
    background-color: var(--mantine-color-purple-3);
  }

  &:active {
    background-color: var(--mantine-color-purple-5);
  }

  &[data-variant='subtle'] {
    height: 42px;
    padding: 0;
    font-size: var(--mantine-font-size-xs);
    font-weight: 500;
    line-height: 20px;
    color: var(--mantine-color-purple-4);
    background: transparent;

    &:hover {
      color: var(--mantine-color-purple-3);
    }

    &:active {
      color: var(--mantine-color-purple-5);
    }

    &:disabled {
      color: var(--mantine-color-grayScale-5);
    }
  }
}
