.option {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: var(--mantine-font-size-xs);
  font-weight: 400;
  line-height: 20px;

  &[data-combobox-active='true'] {
    color: var(--mantine-color-grayScale-0);
    background-color: var(--mantine-color-purple-4);
  }

  &:hover {
    background-color: var(--mantine-color-purple-1);
  }
}
