.option {
  padding: 8px 12px;
  border-radius: var(--mantine-radius-xs);
  @mixin textBaseS;

  &[data-combobox-active='true'] {
    color: var(--mantine-color-grayScale-0);
    background-color: var(--mantine-color-purple-4);
  }

  &:hover {
    background-color: var(--mantine-color-purple-1);
  }
}
