.root {
  & > span:nth-child(1) {
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
    line-height: 20px;
    color: var(--mantine-color-grayScale-5);
  }

  & > span:nth-child(2) {
    font-size: var(--mantine-font-size-sm);
    font-weight: 400;
    line-height: 20px;
    color: var(--mantine-color-grayScale-6);
  }
}
