.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 400px;
  gap: 8px;
  padding: 24px;
  border-radius: 16px;
}

.contentBox {
  align-self: normal;
}

.content {
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--mantine-color-purple-5);
}

.image {
  max-width: 250px;
  max-height: 352px;
  aspect-ratio: 1;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
