.additionalInfo {
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-sm);
}

.title {
  font-size: var(--mantine-font-size-md);
  font-weight: 700;
  line-height: 20px;
}

.text {
  @mixin textBaseM;
  font-weight: 400;
}

.iframe {
  border-radius: var(--mantine-radius-lg);
}

.image {
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--mantine-color-grayScale-2);
  border-radius: var(--mantine-radius-xl);

  & > img {
    border-radius: 39.5px;
  }
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--mantine-color-grayScale-2);
  border-radius: var(--mantine-radius-xl);
}
