.additionalInfo {
  padding: 24px;
  border-radius: 12px;
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-feature-settings: 'clig' off, 'liga' off;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.iframe {
  border-radius: 20px;
}

.image {
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--mantine-color-grayScale-2);
  border-radius: 40px;
}
