.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--mantine-spacing-s);
  height: 218px;
  padding: var(--mantine-spacing-xmd);
  border-radius: var(--mantine-radius-md);
  cursor: pointer;
}

.contentBox {
  align-self: normal;
}

.content {
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  color: var(--mantine-color-purple-5);
}

.image {
  max-width: 119px;
  max-height: 170px;
  aspect-ratio: 1;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  line-height: 20px;
}
