.input {
  width: 100%;
  max-width: 490px;
  height: 48px;
  border: 1px solid var(--mantine-color-grayScale-1);
  border-radius: var(--mantine-radius-s);
  font-size: var(--mantine-font-size-xs);
  font-weight: 400;
  line-height: 20px;
  color: var(--mantine-color-grayScale-6);
  background: var(--mantine-color-grayScale-0);
  caret-color: var(--mantine-color-purple-4);

  &::placeholder {
    color: var(--mantine-color-grayScale-5);
  }
}

.section {
  &[data-position='left'] {
    padding-right: 8px;
    padding-left: 12px;
  }

  &[data-position='right'] {
    width: fit-content;
    padding-right: 12px;
  }
}
